/* ****************************************
*    Main wrapper and helper classes
* ****************************************/

#energymonitor-wrapper {
  --width: 600px;
  --height: 500px;
  --line-width: 8px;
  --active-color: #FFE377;
  --default-color: var(--color-text);
  --line-margin: calc(var(--line-width) * 10);
  --vertical-center: calc(var(--height) / 2);
  --horizontal-center: calc(var(--width) / 2);
  --line-border-radius: calc(var(--line-width) / 5);
  --arrow-size: calc(var(--line-width) * 3);
  --vertical-line-length: calc(var(--vertical-center) - var(--line-margin) - (var(--arrow-size) * 1.1));
  --horizontal-line-length: calc(var(--horizontal-center) - var(--line-margin) - (var(--arrow-size) * 1.1));
  --icon-size: calc(var(--line-margin) * 0.5);

  width: var(--width);
  height: var(--height);
  position: relative;
  left: calc(50% - (var(--width) / 2));
  top: calc(50% - (var(--width) / 2));
  background-color: var(--color-background);
}

#energymonitor-wrapper .hidden {
  display: none;
}

#energymonitor-wrapper .active {
  color: #FFE377;
  background-color: #FFE377;
}

#energymonitor-wrapper .font-green {
  color: #CDEE69;
}

#energymonitor-wrapper .font-red {
  color: #E09690;
}

/* ****************************************
*    Icons
* ****************************************/

#energymonitor-wrapper .icon {
  position: absolute;
  font-size: var(--icon-size);
  color: var(--default-color);
  display: inline-block;
  text-align: center;
}

#energymonitor-wrapper .icon.horizontal {
  top: calc(var(--vertical-center) - (var(--icon-size) / 2));
}

#energymonitor-wrapper .icon.vertical {
  left: calc(var(--horizontal-center) - (var(--icon-size) / 2));
}

#energymonitor-wrapper .icon.top {
  top: -4px;
}

#energymonitor-wrapper .icon.bottom {
  bottom: -3px;
}

#energymonitor-wrapper .icon.left {
  left: 0px;
}

#energymonitor-wrapper .icon.right {
  right: 0px;
}

/* ****************************************
*    Labels
* ****************************************/

#energymonitor-wrapper .label {
  position: absolute;
  color: var(--default-color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-small);
  border: 2px solid;
  border-color: var(--default-color);
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  white-space: nowrap;
  width: 10ch;
  position: absolute;
}

/* ****************************************
*    Lines
* ****************************************/

#energymonitor-wrapper .line {
  background-color: var(--default-color);
}

#energymonitor-wrapper .line.active {
  background-color: var(--active-color);
}

#energymonitor-wrapper .line.vertical {
  width: var(--line-width);
  height: var(--vertical-line-length);
  left: calc(var(--horizontal-center) - (var(--line-width) / 2));
  border-radius: var(--line-border-radius);
  position: relative;
}

#energymonitor-wrapper .line.vertical.up {
  position: absolute;
  top: var(--line-margin);
}

#energymonitor-wrapper .line.vertical.down {
  position: absolute;
  bottom: var(--line-margin);
}

#energymonitor-wrapper .line.horizontal {
  width: var(--horizontal-line-length);
  height: var(--line-width);
  top: calc(var(--vertical-center) - (var(--line-width) / 2));
  border-radius: var(--line-border-radius);
}

#energymonitor-wrapper .line.horizontal.left {
  position: absolute;
  left: var(--line-margin);
}

#energymonitor-wrapper .line.horizontal.right {
  position: absolute;
  right: var(--line-margin);
}

/* ****************************************
*    Arrows
* ****************************************/

#energymonitor-wrapper .arrow {
  --arrow-line-distance: calc(-1 * var(--arrow-size) + 3px);
  --arrow-line-centering: calc(-1 * (var(--arrow-size) / 2) + (var(--line-width) / 2));
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-color: rgba(0, 0, 0, 0);
  content: url("img/caret-down.svg");
}

#energymonitor-wrapper .arrow.active {
  filter: invert(94%) sepia(68%) saturate(714%) hue-rotate(323deg) brightness(102%) contrast(101%);
}

#energymonitor-wrapper .arrow.right {
  position: absolute;
  transform: rotate(-90deg);
  right: var(--arrow-line-distance);
  top: var(--arrow-line-centering);
}

#energymonitor-wrapper .arrow.left {
  position: absolute;
  transform: rotate(90deg);
  left: var(--arrow-line-distance);
  top: var(--arrow-line-centering);
}

#energymonitor-wrapper .arrow.up {
  position: absolute;
  transform: rotate(180deg);
  top: var(--arrow-line-distance);
  left: var(--arrow-line-centering);
}

#energymonitor-wrapper .arrow.down {
  position: absolute;
  bottom: var(--arrow-line-distance);
  left: var(--arrow-line-centering);
}
